
 $breakpoint-desktop:(1440px);

*{
  font-family: "Roboto", sans-serif;
}

:root {
  --grey: #353535;
  --white: #fff;
  --gris: #f6f6f6
}

$loader-animation: spin 1s linear infinite;

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: stop 3s linear;
  opacity: 0; /* Définissez l'opacité par défaut à 0 */
  transition: opacity 0.5s linear; /* Ajoutez une transition par défaut */
}

.loading {
  border: 6px solid #3498db;
  border-top: 6px solid transparent;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes stop {
  0% {
    opacity: 0;
    transform: scale(1); /* Taille d'origine et opacité à 0 */
  }
  50% {
    opacity: 1;
    transform: scale(1.1); /* Laissez l'opacité à 1 pendant la moitié de l'animation */
  }
  100% {
    opacity: 0;
    transform: scale(1); /* Revenir à la taille d'origine et opacité à 0 */
  }
}


.loader-container.stop {
  opacity: 1;
  transition: opacity 0.5s linear; /* Transition pour l'état "stop" */
}

.loader-container.stop {
  opacity: 1;
  transition: opacity 0.5s linear; /* Transition pour l'état "stop" */
}


/*ajout du keyframes pour stopper le loader (opacité, stopper le "spin", enlever "le logo de chargement"*/


/* Styles pour le contenu de votre page */

.all{
margin: 0;
}

///ceci est la location///
.location {
  display: flex;
  background-color: #eaeaea;
  justify-content: center;
  align-items: center;
  gap: 17px;

  &__text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    margin-bottom: 15px;
    border-top: 2px solid #eaeaea;
    font-size: 16px;
  }
}

.logo {
  display: flex;
  width: 100%;
  height: 63px;
  gap: 10px;
}

///ceci est la section d'acceuil///

.hero {
  background-color: #f6f6f6;
  justify-content: center;
  display: grid;


  &__title {
  font-size: 24px;
  text-align: center;
  font-weight: 700;

  @media (min-width: 1440px) {
    text-align: center;
  }
}

&__subtitle {
  text-align: center;
  font-weight: 300;
  font-size: 18px;

  @media (min-width: 1440px) {
    text-align: center;
  }
}
  &__button {
    width: 200px;
    height: 58px;
    border-radius: 25px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    background: linear-gradient(194deg, #9356dc 0%, #ff79da 100%);
    color: white;
    margin: 0 auto;
    
    /* Ajoutez la classe .button pour appliquer l'animation */
    position: relative; /* Ajouter une position relative pour créer un pseudo-élément */
    margin-bottom: 40px;
  
    &::before { /* Utiliser un pseudo-élément pour l'effet de brillance */
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0); /* Commencez avec une couleur transparente */
      border-radius: inherit;
      transition: background 0.3s, box-shadow 0.3s; /* Ajoutez une transition pour un effet de transition doux */
    }
  
    &__position {
      display: flex;
      justify-content: center;
    }
  
    &:hover::before { /* Appliquer l'effet de brillance au survol */
      background: rgba(255, 255, 255, 0.3); /* Léger effet de blanc brillant */
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5); /* Changement d'ombre pour l'effet de brillance */
    }
  
   
  }
  }


.fa-location-dot {
  display: grid;
  justify-items: flex-start;
}

///ceci est choissez un restaurant///

.container__cur {
  margin-top: 50px;
  text-align: center;
  @media (min-width:1440px){
    align-items: flex-start;
    justify-content: center;
    margin-top: 50px;
    text-align: center;
    padding: 50px 180px;
    gap: 25px;
    display: flex;
  }
}

.cur {
  width: 100%;
  height: 72px;
  background: #f6f6f6;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  margin-bottom: 24px;
  font-weight: 500;

  &__title {

    font-family: "Roboto", sans-serif;
    font-weight: 700;
    padding-right: 20px;
    padding-bottom: 26px;
  }
}
.restaurant {
  width: 100%;
  height: 100%;
  background-color: #f6f6f6;
}

.i-restaurant {
  padding-right: 27px;
  color: #9356dc;
}

///ceci est la partie des menus///

.menus {

    align-items: flex-start;
    display: flex;
    gap: 28px;
    flex-direction: column;
    background-color: #f6f6f6;
  
  @media (min-width:1440px){
    display: grid;
    padding: 0px 180px;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
    align-self: stretch;
    grid-template-columns: repeat(2, 1fr);
    background-color: #f6f6f6;
  }
  
  
  &__container {
    display: grid;
    gap: 18px;
    grid-template-columns: 1fr;
    background-color: #f6f6f6;
  }
  &__card {
    width: 100%;
    height: auto;
    background-color: white;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    position: relative;
    @media (min-width:1440px){
    width: 490px;
    height: 100%;
    }
  }
  &__img {
    width: 100%;
    height: 231px;
    align-self: stretch;
    @media (min-width:1440px){
      width: 100%;
      height: 231px;
      align-self: stretch;
    }
  }
  &__title {
    padding-left: 13px;
    font-family: "Roboto", sans-serif;
  }
  &__subtitles {
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    padding-left: 13px;
  }

  &__icon{
  position: absolute;
  top: 85%;
  right: 50px;
  transform: translateY(-50%);
  font-size: 24px; /* Ajustez la taille du cœur selon vos besoins */
  transition: color 0.3s ease-in-out; /* Ajoutez une transition pour l'effet de couleur */
}
&__icon.heart {
  &:before {
    content: '\f004'; /* Code Unicode pour le cœur vide (utilisez le code approprié pour votre police d'icônes) */
  }
}
&__icon.heart.clicked {
  color: pink; /* Couleur du cœur en rose lorsque cliqué */
}
}

///footer///
.footers {
  display: flex;
  width: auto;
  height: 100%;
  padding: 30px 25px;
  justify-content: flex-end;
  gap: 16px;
  flex-direction: column;
  background-color: var(--grey);
  margin-top: 66px;
  
  @media (min-width:1440px){
  display: flex;
  padding: 22px 25px;
  flex-direction: row-reverse;
  justify-content: flex-start;
  gap: 16px;
  background-color: var(--grey);
  margin-top: 30px;
}

  &__logo {
    display: flex;
    width: 139px;
    height: 27px;
    padding-right: 0px;
    justify-content: center;
    align-items: center;
    @media (min-width:1440px){
    margin-left: 16px;
    }
  }

  &__logo-img {
    max-width: 100%;
    height: auto;
  }

  &__links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;
    @media (min-width:1440px){
      display: flex;
      flex-direction: row-reverse;
      align-items: flex-start;
      gap: 7px;
    }
    
  }

  &__icon {
    color: var(--white);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    padding-left: 11px;
  }

  &__links{
  color: var(--white);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  @media (min-width:1440px){
  display: flex;
  flex-direction: unset;
  }
  }

  &__logo-img {
    filter: invert(100%);
  }

  .i-utensils{
    color: #FFFFFF;
    width: 11px;
    height: 13px;
    }

  .i-handshake{
    color: #FFFFFF;
    width: 11px;
    height: 13px;
    }
}
