
$breakpoint-desktop:(1440px);
$breakpoint-tablette: (1024px);

.image{
 width: 100%;
 height: auto;
}



.image-title{
  margin-top: 31px;
  margin-bottom: 42px;
  width: 69%;
  height: auto; 
  @media (min-width:1440px){
  padding-left: 35%;
  margin-top: 51px;
  height: auto;
  width: auto;
  }
}



.icon {
  top: 2%;
  right: 30px;
  position: absolute;
  @media (min-width:1440px){
  position: absolute;
  top: 5%;
  right: 30%;
  transform: translateY(-50%);
  font-size: 24px; /* Ajustez la taille du cœur selon vos besoins */
  transition: color 0.1s ease-in-out; /* Ajoutez une transition pour l'effet de couleur */
}
}
/* Styles pour le cœur rose */
.heart-pink {
  color: transparent; /* Le cœur rose est initialement transparent */
  transition: color 0.1s ease-in-out; /* Ajoutez une transition pour l'effet de couleur */
  
}

/* Effet de survol */
.icon:hover + .heart-pink {
  top: 2%;
  right: 30PX;
  font-size: 15px;
  position: absolute;
  @media (min-width:1440px){
  color: #ffb6c1; /* Couleur rose au survol du cœur de base */
  top: 4%;
  right: 30%;
  font-size: 24px;
  position: absolute;
  }
}


.container-background {
  width: 100%;
  height: auto;
  background-color: white;
  
  border-radius: 15px;
  position: relative; /* Ajoutez le positionnement relatif */
  top: -40px; /* Ajustez la valeur en conséquence pour obtenir l'effet souhaité */
  @media (min-width:1440px){
    width: 80%;
    height: auto;
    background-color: white;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    position: relative; /* Ajoutez le positionnement relatif */
    top: -40px;/* Ajustez la valeur en conséquence pour obtenir l'effet souhaité */
    margin-left: auto;
    margin-right: auto;
  }
}


.container-menu{
  padding-left: 10px;
  padding-right: 10px;
@media (min-width:1440px){
display: inherit;
padding: 15px;
width: 44%;
margin-left: 25%;
  }
}
/* Votre SCSS existant */


.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;


  &__title {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    margin-right: 87%;
    margin-bottom: 0;
    @media (min-width:1440px){
    margin-top: 40px;
    }
  }

  &__card {
    align-self: stretch;
    background: white;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
    align-items: center;
    display: grid;
    padding: 15px;
    border-radius: 15px;
    width: auto;
    height: 69px;
    position: relative;
    cursor: pointer;

    @media (min-width:1440px){
      width: 100%;
      font-size: 20px;
    
    }
  }

  &__name {
    font-size: 15px;
  }

  &__subtitle {
    font-size: 15px;
    font-weight: 300;
  }

  &__currency {
    font-size: 15px;
    font-weight: 700;
    display: flex;
    justify-content: end;
    position: absolute;
    top: 40%;
    right: 5%;
  }
}
  
/* Styles pour les points de suspension lorsque l'animation apparaît à droite */
.your-animation.right .your-price {
  font-size: 15px; /* Gardez la même taille de police que le prix */
  font-weight: 700; /* Gardez la même épaisseur de police que le prix */
  color: transparent; /* Masquez le texte du prix en le rendant transparent */
  background-color: transparent; /* Masquez le fond en le rendant transparent */
  position: absolute;
  top: 40%;
  right: 5%;
  display: flex;
  justify-content: flex-end;
}

/* Styles pour les points de suspension */
.your-animation.right .your-price::before {
  content: "..."; /* Affichez les points de suspension */
  color: #000; /* Couleur des points de suspension, à ajuster selon vos besoins */
  background-color: transparent; /* Fond transparent */
}



.green-line {
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  border: 1px solid #99E2D0;
}

.anim-container {
  width: 59px;
  height: 69px;
  left: 85%;
  top: 10px;
  display: none;
  position: absolute;
  @media (min-width:1440px){
  position: absolute;
  width: 60px;
  height: 69px;
  left: 96%;
  top: 10px;
  display: none; /* Cacher le .svg-container par défaut */
  }
}

.menu__card:hover .anim-container {
  display: block; /* Afficher le .svg-container au survol de .entree__card */
}


.green-shape {
width: 100%;
height: 100%;
background-color: #99E2D0;
position: absolute;
top: 0;
left: 0;
border-top-right-radius: 15px;
border-bottom-right-radius: 15px;
}

.white-shape {
   width: 70%;
 height: 70%;
background-color: white;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
 border-radius: 50%;
}

.inner-white-shape {
 width: 50%;
 height: 50%;
 background-color: white;
position: absolute;
 top: 50%;
left: 50%;
 transform: translate(-50%, -50%);
 border-radius: 50%;
}

i.fa-solid.fa-check {
 // Styles pour l'icône de coche
text-align: center; // Centrez l'icône horizontalement
line-height: 69px; // Centrez l'icône verticalement
color: #99E2D0; // Couleur verte
font-size: 24px; // Taille de l'icône (ajustez selon vos besoins)
position: absolute;
top: -20px;
}

.green-line {
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  border: 1px solid #99E2D0;
}


.footer {
  display: flex;
  width: 100%;
  padding: 22px 25px;
  align-items: flex-start;
  gap: 16px;
  flex-direction: column;
  background-color: var(--grey);
  @media (min-width:1440px){
  display: flex;
  width: 100%;
  height: auto;
  padding: 30px 25px;
  gap: 16px;
  align-items: flex-end;
  flex-direction: row-reverse;
  justify-content: end;
  }
  

&__logo {
  display: flex;
  width: 139px;
  height: 27px;
  justify-content: center;
  align-items: center;
}

&__logo-img {
  max-width: 100%;
  height: auto;
  filter: invert(100%);
  margin-left: 16px;
}

&__links {
  display: flex;
  align-items: flex-start;
  gap: 7px;
  @media (min-width:1440px){
  display: flex;
  flex-direction:revert;
  align-items: flex-end;
  gap: 7px;
  }
}

&__icon {
  color: var(--white);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  padding-left: 5px;
  
}

&__link {
  color: var(--white);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  padding-left: 29px;
}

}

.i-utensils{
  color: #FFFFFF;
  width: 11px;
  height: 13px;
  }

.i-handshake{
  color: #FFFFFF;
  width: 11px;
  height: 13px;
  }


