@charset "UTF-8";
* {
  font-family: "Roboto", sans-serif;
}

:root {
  --grey: #353535;
  --white: #fff;
  --gris: #f6f6f6;
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: stop 3s linear;
  opacity: 0; /* Définissez l'opacité par défaut à 0 */
  transition: opacity 0.5s linear; /* Ajoutez une transition par défaut */
}
.loader-container__loading {
  border: 6px solid #3498db;
  border-top: 6px solid transparent;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes stop {
  0% {
    opacity: 0;
    transform: scale(1); /* Taille d'origine et opacité à 0 */
  }
  50% {
    opacity: 1;
    transform: scale(1.1); /* Laissez l'opacité à 1 pendant la moitié de l'animation */
  }
  100% {
    opacity: 0;
    transform: scale(1); /* Revenir à la taille d'origine et opacité à 0 */
  }
}
.loader-container.stop {
  opacity: 1;
  transition: opacity 0.5s linear; /* Transition pour l'état "stop" */
}

.loader-container.stop {
  opacity: 1;
  transition: opacity 0.5s linear; /* Transition pour l'état "stop" */
}

.all {
  margin: 0;
}
@media (min-width: 1440px) {
  .all {
    align-items: flex-start;
    display: grid;
  }
}

.location {
  display: flex;
  background-color: #eaeaea;
  justify-content: center;
  align-items: center;
  gap: 17px;
  height: 50px;
}
.location__text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.hero {
  background-color: #f6f6f6;
  justify-content: center;
  display: grid;
}
.hero__title {
  font-size: 24px;
  text-align: center;
  font-weight: 700;
  padding-bottom: 18px;
}
@media (min-width: 1440px) {
  .hero__title {
    text-align: center;
    font-size: 40px;
  }
}
.hero__subtitle {
  text-align: center;
  font-weight: 300;
  font-size: 18px;
  padding-bottom: 18px;
}
@media (min-width: 1440px) {
  .hero__subtitle {
    text-align: center;
  }
}
.hero__button {
  width: 200px;
  height: 58px;
  border-radius: 25px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  background: linear-gradient(194deg, #9356dc 0%, #ff79da 100%);
  color: white;
  margin: 0 auto;
  border: none;
  /* Ajoutez la classe .button pour appliquer l'animation */
  position: relative; /* Ajouter une position relative pour créer un pseudo-élément */
  margin-bottom: 40px;
}
.hero__button::before {
  /* Utiliser un pseudo-élément pour l'effet de brillance */
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0); /* Commencez avec une couleur transparente */
  border-radius: inherit;
  transition: background 0.3s, box-shadow 0.3s; /* Ajoutez une transition pour un effet de transition doux */
}
.hero__button__position {
  display: flex;
  justify-content: center;
}
.hero__button:hover::before {
  /* Appliquer l'effet de brillance au survol */
  background: rgba(255, 255, 255, 0.3); /* Léger effet de blanc brillant */
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5); /* Changement d'ombre pour l'effet de brillance */
}

.fa-location-dot {
  display: grid;
  justify-items: flex-start;
}

.container__cur {
  margin-top: 50px;
  text-align: center;
  padding-left: 32px;
  padding-right: 20px;
}
@media (min-width: 1440px) {
  .container__cur {
    align-items: flex-start;
    justify-content: center;
    margin-top: 50px;
    text-align: center;
    padding: 50px 180px;
    gap: 25px;
    display: flex;
  }
}

.cur {
  width: 100%;
  height: 72px;
  background: #f6f6f6;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  margin-bottom: 24px;
  font-weight: 500;
  position: relative;
  border: none;
}
@media (min-width: 1024px) {
  .cur {
    width: 30%;
    height: 80px;
    background: #F6F6F6;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    margin-bottom: 24px;
    font-weight: 500;
    position: relative;
  }
}
.cur__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin-top: -25px;
  padding-left: 15px;
}
.cur__restaurant {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  padding-left: 32px;
}
.cur::before {
  content: "1";
  color: #fff;
  background-color: #9356dc;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  position: absolute;
  align-items: center;
  left: -12px;
  top: calc(50% - 12px);
}
.cur.second::before {
  content: "2";
  color: #fff;
  background-color: #9356dc;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  position: absolute;
  align-items: center;
  left: -12px;
  top: calc(50% - 12px);
}
.cur.third::before {
  content: "3";
  color: #fff;
  background-color: #9356dc;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  position: absolute;
  align-items: center;
  left: -12px;
  top: calc(50% - 12px);
}

.i-restaurant {
  padding-right: 27px;
  color: #9356dc;
}

.i-restaurants {
  padding-right: 27px;
}

@media (min-width: 1440px) {
  .Restaurants {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    padding-left: 180px;
    padding-bottom: 30px;
    position: absolute;
    top: 75%;
    left: 10px;
  }
}
@media (min-width: 1024px) {
  .Restaurants {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
  }
}

.menus {
  display: grid;
  gap: 28px;
  flex-direction: column;
  background-color: #f6f6f6;
  justify-content: center;
  padding: 3px;
  /* Styles pour le cœur rose */
}
@media (min-width: 1024px) {
  .menus {
    display: flex;
    gap: 28px;
    flex-direction: column;
    padding-top: 58px;
    background-color: #F6F6F6;
  }
}
@media (min-width: 1440px) {
  .menus {
    display: grid;
    padding: 0px 180px;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
    align-self: stretch;
    grid-template-columns: repeat(2, 1fr);
    background-color: #f6f6f6;
    padding-top: 58px;
    margin-bottom: 46px;
  }
}
.menus__container {
  display: grid;
  gap: 18px;
  grid-template-columns: 1fr;
  background-color: #f6f6f6;
}
.menus__card {
  height: 100%;
  background-color: white;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  position: relative;
}
.menus__img {
  width: 100%;
  height: 231px;
  -o-object-fit: cover;
     object-fit: cover;
  align-self: stretch;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .menus__img {
    height: 150px; /* Ajustez la hauteur pour les tablettes selon vos besoins */
  }
}
@media (min-width: 1440px) {
  .menus__img {
    width: 100%;
  }
}
.menus__text {
  height: 77px;
  padding-top: 16px;
}
.menus__title {
  padding-left: 13px;
  font-family: "Roboto", sans-serif;
}
.menus__subtitles {
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  padding-left: 13px;
}
.menus .heart__icon i {
  position: absolute;
  cursor: pointer;
  position: absolute;
  top: 80%;
  right: 50px;
  font-size: 24px;
}
.menus .my-heart-full {
  opacity: 0;
  transition: opacity 3s ease-in-out;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(#ff79dA, #9356dc);
  -webkit-background-clip: text;
  background-clip: text;
}
.menus .my-heart-full:hover {
  opacity: 1;
  background-position: 0% 100%;
  background-image: linear-gradient(#ff79dA, #9356dc);
  transition: opacity 3s ease-in-out;
}
.menus .new_badge {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--Green-Font, #99e2d0); /* Couleur de fond de l'encadrement */
  color: #008766; /* Couleur du texte */
  padding: 5px; /* Espace à l'intérieur de l'encadrement */
  font-size: 14px;
  font-weight: 500;
  margin-right: 15px;
  margin-top: 15px;
}
.menus .footer {
  display: flex;
  width: 100%;
  padding: 22px 25px;
  align-items: flex-start;
  gap: 16px;
  flex-direction: column;
  background-color: var(--grey);
}
@media (min-width: 1440px) {
  .menus .footer {
    display: flex;
    height: auto;
    padding: 30px 25px;
    gap: 16px;
    flex-direction: row-reverse;
    justify-content: end;
  }
}
.menus .footer__logo {
  display: flex;
  width: 139px;
  height: 27px;
  justify-content: center;
  align-items: center;
}
.menus .footer__logo-img {
  max-width: 100%;
  height: auto;
  filter: invert(100%);
  margin-left: 16px;
}
.menus .footer__links {
  display: flex;
  align-items: flex-start;
  gap: 7px;
  flex-direction: column;
}
@media (min-width: 1440px) {
  .menus .footer__links {
    display: flex;
    flex-direction: revert;
    align-items: flex-end;
    gap: 7px;
  }
}
.menus .footer__icon {
  color: var(--white);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  padding-left: 5px;
}
.menus .footer__link {
  color: var(--white);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  padding-left: 29px;
}
.menus .i-utensils {
  color: #FFFFFF;
  width: 11px;
  height: 13px;
}
.menus .i-handshake {
  color: #FFFFFF;
  width: 11px;
  height: 13px;
}

#menu-page {
  margin: 0;
  padding: 0;
}

.image {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 1440px) {
  .image {
    height: 283px;
  }
}

.arrow-container {
  position: absolute;
  top: 3vh;
  padding-left: 10px;
}
@media (min-width: 1440px) {
  .arrow-container {
    margin-top: 10px;
    top: 2rem;
  }
}

.arrow-icon {
  cursor: pointer;
}

.image-title {
  width: auto;
}

.title-container {
  display: flex;
  align-items: center;
  margin-top: 51px;
  justify-content: center;
  gap: 24px;
}
@media (min-width: 1024px) {
  .title-container {
    width: 100%;
  }
}

.heart__icon {
  cursor: pointer;
  font-size: 24px;
  display: flex;
}

.my-heart-full {
  opacity: 0;
  transition: opacity 3s ease-in-out;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(#ff79dA, #9356dc);
  -webkit-background-clip: text;
  background-clip: text;
}

.my-heart-full:hover {
  opacity: 1;
  background-position: 0% 100%;
  background-image: linear-gradient(#ff79dA, #9356dc);
  transition: opacity 3s ease-in-out;
  position: absolute;
}

.container-background {
  width: 100%;
  height: auto;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  background-color: #F6F6F6;
  border-radius: 15px;
  position: relative; /* Ajoutez le positionnement relatif */
  top: -40px; /* Ajustez la valeur en conséquence pour obtenir l'effet souhaité */
}
@media (min-width: 1440px) {
  .container-background {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

.container-menu {
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 1440px) {
  .container-menu {
    display: inherit;
    padding: 15px;
    width: 44%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Votre SCSS existant */
.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
.menu__card {
  background: white;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  align-self: stretch;
  border-radius: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu__items {
  display: flex;
  justify-content: space-between;
  border-radius: 1rem;
}
.menu__description {
  padding: 1rem;
  overflow: hidden;
}
.menu__prix {
  font-weight: 900;
  margin-left: auto;
  padding: 1rem;
  display: flex;
  align-items: flex-end;
}
.menu__check {
  display: grid;
  place-items: center;
  background-color: #99E2D0;
  margin-right: -4rem;
  width: 4rem;
  border-radius: 0 1rem 1rem 0;
  transition: margin-right 0.5s;
}
.menu .fa-check {
  display: grid;
  place-items: center;
  background-color: white;
  color: #99E2D0;
  aspect-ratio: 1;
  width: 2rem;
  border-radius: 1rem;
}
.menu .menu__card:hover .menu__check {
  margin-right: 0;
}

.h4-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.subtitle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.green-line {
  border-bottom: 3px solid #99E2D0;
  display: inline-block; /* Pour que la bordure s'ajuste à la largeur du texte */
  margin-bottom: 8px; /* Ajustez selon vos besoins pour l'espace entre le texte et la ligne */
  margin-top: 40px;
  width: 2rem;
  font-weight: 300;
  font-size: 16px;
}

.footer {
  display: flex;
  width: 100%;
  padding: 22px 25px;
  align-items: flex-start;
  gap: 16px;
  flex-direction: column;
  background-color: var(--grey);
}
@media (min-width: 1440px) {
  .footer {
    display: flex;
    height: auto;
    padding: 30px 25px;
    gap: 16px;
    align-items: flex-end;
    flex-direction: row-reverse;
    justify-content: end;
  }
}
.footer__logo {
  display: flex;
  width: 139px;
  height: 27px;
  justify-content: center;
  align-items: center;
}
.footer__logo-img {
  max-width: 100%;
  height: auto;
  filter: invert(100%);
  margin-left: 16px;
}
.footer__links {
  display: flex;
  align-items: flex-start;
  gap: 7px;
  flex-direction: column;
}
@media (min-width: 1440px) {
  .footer__links {
    display: flex;
    flex-direction: revert;
    align-items: flex-end;
    gap: 7px;
  }
}
.footer__icon {
  color: var(--white);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  padding-left: 5px;
}
.footer__link {
  color: var(--white);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  padding-left: 29px;
}

.i-utensils {
  color: #FFFFFF;
  width: 11px;
  height: 13px;
}

.i-handshake {
  color: #FFFFFF;
  width: 11px;
  height: 13px;
}

* {
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --grey: #353535;
  --white: #fff;
  --gris: #f6f6f6;
}

.logo {
  display: flex;
  width: 100%;
  height: 63px;
  gap: 10px;
  padding: 14px 89px 13px 89px;
}
@media (min-width: 1440px) {
  .logo {
    height: 100px;
    padding: 30px 0px 31px 0px;
  }
}

.button {
  width: 186px;
  height: 50px;
  border-radius: 25px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  background: linear-gradient(194deg, #9356DC 0%, #FF79DA 100%);
  color: white;
  margin-top: 40px;
  text-align: center;
  font-weight: 500;
  display: grid;
  align-content: center;
  position: relative;
  margin-bottom: 40px;
}
.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0);
  border-radius: inherit;
  transition: background 0.3s, box-shadow 0.3s;
}
.button__position {
  display: flex;
  justify-content: center;
}
.button:hover::before {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
}

a:visited {
  color: #000; /* Couleur du texte pour les liens visités, ajustez selon vos besoins */
}/*# sourceMappingURL=style.css.map */